:root{
	--background-color1: rgb(47,49,54);
	--background-color2: rgb(54,57,63);
	--button-color: rgb(48,50,55);
	--button-border-color: rgb(79, 147, 116);
	--green-color: rgb(105,196,154);
	--yellow-color: rgb(83,76,44);
	--red-color: rgb(240,71,71);
	--white: white;
}

html{
	background-color: var(--background-color2);
	color: white;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#page-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
}

header{
	background-color: var(--background-color1);
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

header .logo{
	font-size: 5rem;
}

header h1{
	font-size: 2rem;
}

main{
	width: 100%;
	margin: 50px auto;
	max-width: 90%;
	flex: 1;
}

.stop-sound{
	background-color: var(--red-color);
	color: var(--white);
	padding: 15px;
	margin: auto auto 25px;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	width: 280px;
	text-align: center;
	display: block;
}

#buttons {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#buttons .sound{
	background-color: var(--green-color);
	color: var(--white);
	padding: 15px;
	margin: 0 15px 25px;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	width: 280px;
	text-align: center;
}

#buttons .sound:active{
	background-color: var(--button-border-color);
	padding: 12px 15px 15px 15px;
	margin: 3px 15px 25px;
}

#buttons .sound:hover::after{
	height: 7px;
}

#buttons .sound::after{
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	background-color: var(--button-border-color);
	transition: all 0.1s ease;
}

footer{
	background-color: var(--background-color1);
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

footer a{
	color: var(--green-color);
	text-decoration: none;
	display: block;
	margin-top: 10px;
}

footer a:hover{
	text-decoration: underline;
}