:root{
	--background-color1: rgb(47,49,54);
	--background-color2: rgb(54,57,63);
	--button-color: rgb(48,50,55);
	--button-border-color: rgb(79, 147, 116);
	--green-color: rgb(105,196,154);
	--yellow-color: rgb(83,76,44);
	--red-color: rgb(240,71,71);
	--white: white;
}

html{
	background-color: var(--background-color2);
	color: white;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#page-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
}

header{
	background-color: var(--background-color1);
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

header .logo{
	font-size: 5rem;
}

header h1{
	font-size: 2rem;
}

main{
	width: 100%;
	margin: 50px auto;
	max-width: 90%;
	flex: 1;
}

.stop-sound{
	background-color: var(--red-color);
	color: var(--white);
	padding: 15px;
	margin: auto auto 25px;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	width: 280px;
	text-align: center;
	display: block;
}

#buttons {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.btn{
	background-color: var(--green-color);
	color: var(--white);
	padding: 11px;
	margin: 0 15px 25px;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	width: 280px;
	text-align: center;
	text-shadow: 1px 1px #568e5f;
	display: block;
}

#buttons .sound:active{
	background-color: var(--button-border-color);
	padding: 12px 15px 15px 15px;
	margin: 3px 15px 25px;
}

#buttons .sound:hover::after{
	height: 7px;
}

#buttons .sound::after{
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	background-color: var(--button-border-color);
	transition: all 0.1s ease;
}

#upload-form{
	width: 400px;
	max-width: 100%;
	margin: auto;
}

#upload-form #files-container{
	width: /*calc(*/100%;/* - 6px);*/
	position: relative;
	height: 100px;
	margin: 10px 0;
	border: 3px dashed #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#upload-form #files-container p{
	margin-bottom: 10px;
}

#upload-form #files-container p:last-of-type{
	margin-bottom: 0;
}

#upload-form .files{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}

.form-control{
	background-color: var(--background-color1);
	color: var(--white);
	padding: 11px;
	margin: 30px 0 0;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	width: 280px;
	text-align: center;
	display: block;
	border: 1px solid rgb(32, 32, 32);
}

#upload-form .form-control{
	width: 100%;
}

#upload-form .btn{
	width: 100%;
	margin: auto;
}

#upload-form #form-error{
	text-align: center;
	margin-top: 20px;
	color: var(--red-color);
}

footer{
	background-color: var(--background-color1);
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

footer a{
	color: var(--green-color);
	text-decoration: none;
	display: block;
	margin-top: 10px;
}

footer a:hover{
	text-decoration: underline;
}


@media(max-width: 1199px){
	main{
		margin: 50px 0;
		max-width: 99%;
	}
}