@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import "reset";

/*
*	Colors
*/

$body-background-color: linear-gradient(#1e1e2f,#1e1e24);
//$header-background-color:#192D3E;
$library-background-color: #27293d;
$box-background-color: #2b3553;
$box-text-color: rgb(210,210,210);
$button-background: #33c2f8;
$blue1: #1d8cf8;
$blue2: #419ef9;

:root{
	--background-color1: rgb(47,49,54);
	--background-color2: rgb(54,57,63);
	--button-color: rgb(48,50,55);
	--button-border-color: rgb(79, 147, 116);
	--green-color: rgb(105,196,154);
	--yellow-color: rgb(83,76,44);
	--red-color: rgb(240,71,71);
	--white: white;
}

html{
	background: $body-background-color;
	color: $box-text-color;
	font-family: 'Poppins', sans-serif;
}

button.btn{
	background: $blue1;
	padding: 10px 16px;
	margin: 8px 15px;
	font-size: 16px;
	width: 300px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	border-radius: 4px;
	border: none;
	color: white;//rgb(30,30,30);
}

main{
	display: flex;
	flex-direction: row;

	.left-panel{
		width: 350px;
		background: $box-background-color;
		box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);

		header{
			display: flex;
			justify-content: center;
			padding: 50px 0 90px;
			position: relative;

			h1{
				font-size: 20px;
				font-weight: 300;
			}

			.logo{
				position: absolute;
				bottom: -50px;
				background: $library-background-color;
				height: 100px;
				width: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 100%;

				i{
					font-size: 48px;
				}
			}
		}

		.library{
			padding-top: 50px;
			background: $library-background-color;

			h2{
				text-align: center;
				padding: 20px 0px 10px;
				border-bottom: 1px solid rgba(255,255,255,0.2);
				margin: 0 60px 15px;
			}

			.sounds{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	#page-container{
		flex-grow: 1;
		padding: 30px;

		.user-categories{


			.user-category{
				background: $box-background-color;
				margin-bottom: 30px;
				box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
				padding: 0 15px 15px;
				margin-right: 10px; 
				border-radius: 5px;
				position: relative;

				input{
					font-size: 27px;
					font-weight: 200;
					font-family: 'Poppins', sans-serif;
					color: white;
					background: none;
					border: none;
					margin: 15px;
				}

				.user-sounds{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					min-height: 60px;
				}

				.delete-category{
					position: absolute;
					right: -25px;
					top: -25px;
					background: #27293d;
					height: 60px;
					width: 60px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 100%;
					cursor: pointer;
	
					i{
						font-size: 24px;
					}
				}
			}

			.new-category{
				background: #27293d;
				height: 60px;
				width: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 100%;
				cursor: pointer;

				i{
					font-size: 24px;
				}
			}
		}
	}

	.git-link{
		background-color: $button-background;
		width: 120px;
		height: 120px;
		position: fixed;
		bottom: -60px;
		right: -60px;
		transform: rotate(45deg);
		display: flex;
		justify-content: flex-start;
		align-items: center;

		i{
			color: white;
			transform: rotate(90deg);
			font-size: 36px
		}
	}
}
/* ----------------------------------------------- */



/*---------------*/
/*
.user-categories{
	.user-category{
		position: relative;

		.user-sounds{
			background: purple;
			display: flex;
			justify-content: center;
			min-height: 50px;

			&.hover{
				background: pink;
			}

			.user-sound{
				background: green;
				padding: 10px;
				margin: 10px;
			}
		}

		.delete-category i{
			margin: 25px;
			font-size: 25px;
			cursor: pointer;
			position: absolute;
			top: -20px;
			right: 0;
		}
	}

	.new-category i{
		margin: 25px;
		font-size: 25px;
		cursor: pointer;
	}
}

.library{
	background: brown;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	&.hover{
		background: red;
	}
}*/

/*----------------*/

/*
.stop-sound:active{
	background-color: var(--red-color);
	padding: 10px 15px 15px;
	margin: 5px auto 25px;
}

#buttons {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#buttons.hide-volume .sound-wrapper .slider {
	display: none;
}

.sound-wrapper{
	margin: 0 15px 25px;
}

.btn{
	background-color: var(--green-color);
	color: var(--white);
	padding: 11px;
	margin: 0 0 7px;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	width: 280px;
	text-align: center;
	text-shadow: 1px 1px #568e5f;
	display: block;
}

#buttons .sound:active{
	background-color: var(--button-border-color);
	padding: 9px 11px 11px 11px;
}

#buttons .sound:hover::after{
	height: 7px;
}

#buttons .sound::after{
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	background-color: var(--button-border-color);
	transition: all 0.1s ease;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	background: linear-gradient(90deg, rgba(172,222,170,1) 0%, rgba(172,222,170,1) 24%, rgba(253,255,171,1) 44%, rgba(255,211,106,1) 68%, rgba(246,114,128,1) 100%);
	outline: none;
	opacity: 0.15;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 3px;
}

.slider:hover {
	opacity: 1;
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 20px;
	background: var(--green-color);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 10px;
	height: 20px;
	background: var(--green-color);
	cursor: pointer;
}


#upload-form{
	width: 400px;
	max-width: 100%;
	margin: auto;
}
*/
#upload-form #files-container{
	width: /*calc(*/100%;/* - 6px);*/
	position: relative;
	height: 100px;
	margin: 10px 0;
	border: 3px dashed #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#upload-form #files-container p{
	margin-bottom: 10px;
}

#upload-form #files-container p:last-of-type{
	margin-bottom: 0;
}

#upload-form .files{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}
/*
.form-control{
	background-color: var(--background-color1);
	color: var(--white);
	padding: 11px;
	margin: 30px 0 0;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	width: 280px;
	text-align: center;
	display: block;
	border: 1px solid rgb(32, 32, 32);
}

#upload-form .form-control{
	width: 100%;
}

#upload-form .btn{
	width: 100%;
	margin: auto;
}

#upload-form #form-error{
	text-align: center;
	margin-top: 20px;
	color: var(--red-color);
}

footer{
	background-color: var(--background-color1);
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
*/